Case_Study_RAG.json
{
  "name": "Case Study RAG",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "id": "753455a3-ddc8-4a74-b043-70a0af38ff9e",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        776,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "fc0Rs7KS6awgaWRW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "id": "a7c8fa7f-cad2-4497-a295-30aa2e98cacc",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        760,
        460
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "VKwbYlKHD1MHlZc4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "215f0519-4359-4e4b-a90c-7e54b1cc52b5",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        880,
        462.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "863d3d1d-1621-406e-8320-688f64b07b09",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        968,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful Marketing Assistant at NashTech designed to curate a proposal message to the client based on the requirements he has given.\n\nSteps:\n1. Retrieve relevant information about the client's requirement, use the tool called \"case_study_doc\" to retrieve any information from the case studies doc.\n\n2. Form a sales pitch using the retrived information about the case studies which will be presented to the client's representative. The pitch should:\n\n- Begin with something like :\"At NashTech, we...\" to establish our brand identity.\n\n- Be concise, engaging, and outcome-driven\n\n- Focus on key benefits, ROI, and competitive advantages\n\n- Be optimized with industry-relevant keywords and terminology\n\nInstructions - \nDo not mention the names of our previous clients. While the pitch can reference solutions and results from past case studies, it must not disclose specific client names.\n\nEnsure that the response contains only the pitch message—no additional explanations or disclaimers.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\"\n\nObjective: Deliver a high-impact sales pitch that aligns with the client’s needs while showcasing NashTech’s expertise, proven results, and unique value proposition—without mentioning past client names."
        }
      },
      "id": "5af1efb1-ea69-466e-bb3b-2b7e6b1ceef7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        620,
        1120
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "case_study_doc",
        "description": "Retrieve information about the query"
      },
      "id": "825632ac-1edf-4e63-948d-b1a498b2b962",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        840,
        1320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "id": "72d2f685-bcc3-4e62-a5e3-72c0fe65f8e8",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        700,
        1480
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "fc0Rs7KS6awgaWRW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "id": "eeff81cb-6aec-4e7f-afe0-432d87085fb2",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        680,
        1620
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "VKwbYlKHD1MHlZc4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "8bb6ebb1-1deb-498b-8da4-b809a736e097",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        540,
        440
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yfcBtbK4KCPQXIID",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with your case studies."
      },
      "id": "bd83bacf-dff1-4b7c-af5c-b249fb16c113",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        1380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FIIyVHgzi_e89VyiNx6q8G796n3FT16h",
          "mode": "list",
          "cachedResultName": "Case Studies",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FIIyVHgzi_e89VyiNx6q8G796n3FT16h"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "7b90daab-0fb2-4c8a-93e6-b138bb04f282",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        320,
        540
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yfcBtbK4KCPQXIID",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FIIyVHgzi_e89VyiNx6q8G796n3FT16h",
          "mode": "list",
          "cachedResultName": "Case Studies",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FIIyVHgzi_e89VyiNx6q8G796n3FT16h"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "3a6c6cef-7a19-42ef-8092-eaf57dae4cdd",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        320,
        340
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yfcBtbK4KCPQXIID",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "1e38f1c8-7bd0-4eeb-addc-62339582d350",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        720,
        1300
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4b0ab858-99b1-4337-8c5c-a223519e3662",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        380,
        1120
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "bfb684d1-e5c1-41da-8305-b2606a2eade6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "8f627ec6-4b3f-43ad-a4a3-e2b199a7fe58",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        600,
        1300
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "VKwbYlKHD1MHlZc4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "f2133a06-0088-46de-9f74-a3f9fe478f98",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1000,
        1460
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "VKwbYlKHD1MHlZc4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "a03be2c7-2f7f-4cdf-bda1-f8e1f9641f44",
  "meta": {
    "templateId": "2753",
    "templateCredsSetupCompleted": true,
    "instanceId": "166747ef9f022c093c3245b26e2922c81ff05add10a4c2e166af3417d31a1525"
  },
  "id": "LrJYjQQK2cIUXsP4",
  "tags": []
}